/* Responsive cho PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet & mobile */
@media (max-width: 991.98px) {
  .navbar {
    /* 1.ẩn thanh navbar khi co nhỏ trình duyệt */
    display: none;
  }

  /* 2.chuyển logo vào giữa */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%; /*căn vào đúng giữa chứ không phải căn theo góc của logo*/
  }

  /*3. điều chỉnh thanh menu */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }

  /* 4. overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0; /* cách cả 4 cạnh 0 px (có thể để 1,2,3,4 đối số...) */
    z-index: 1; /* ở bên trên tất cả tránh tình trạng các phần tử khác ở trên */

    /* căn chỉnh để có thể bấm nút khi ẩn hiện */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  /* 5. Kiểm tra checkbox được check thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  /* 6. Code cho menu drawer */
  .menu-drawer {
    position: fixed;
    background-color: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }

  /* 7.Kiểm tra khi checkbox được check thì hiện menu */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0%);
  }
  /* 8. Menu top */
  .close__menu {
    width: 24px;
    color: #fff;
    cursor: pointer;
    /* position: relative; */
  }

  /* .close-menu__circle {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
  } */

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link {
    display: block;
    font-size: 2rem;
  }

  /* Khối hero */
  .header-bottom {
    flex-direction: column;
    gap: 50px;
  }

  .header-bottom .booking {
    order: 2;
  }

  .header-bottom .booking {
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }
  .hero__media {
    order: 1;
  }

  .header-bottom .booking-item {
    justify-content: center;
  }

  /* khoi service */
  .service__row {
    flex-direction: column;
  }

  .service__img {
    width: 100%;
    row-gap: 20px;
  }

  .service__list {
    text-align: center;
  }

  .service-item {
    width: 90%;
    text-align: start;
  }

  /* work_list */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  /* about */
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about__media {
    width: 100%;
  }
  /* an anh small */
  .about__img--small {
    display: none;
  }
  .about__img--big {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }

  .about-content {
    width: 90%;
    text-align: center;
  }

  /* team-list */
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  /* can giua anh */
  .team-item__thumb {
    margin: 0 auto;
  }

  /* install */
  .install__img {
    display: none;
  }

  .install__content {
    margin: 0 auto;
    width: 90%;
  }

  /* blog */
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }

  .blog__list {
    order: 1;
  }
  .blog__content {
    order: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog__heading {
    max-width: 90%;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* footer */
  .footer-hidden-tablet {
    display: none;
  }

  .footer__top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }

  .show-on-mobile {
    display: none;
  }
}
/* mobile */
@media (max-width: 767.98px) {
  .action {
    display: none;
  }

  .menu-header__icon {
    top: 16px;
  }

  .menu-drawer {
    inset: 0 20% 0 0;
    padding: 40px;
  }

  .navbar__item {
    list-style-type: none;
  }

  .separate {
    border-top: 1.5px solid #8c8b8b;
    margin-top: 10px;
  }

  /* hero */
  .hero__img-small {
    display: none;
  }

  .hero__img-large {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  .header-bottom .booking__heading {
    font-size: 3rem;
  }

  .header-bottom .booking-item {
    flex-direction: column;
    row-gap: 20px;
  }

  /* service */
  .service {
    padding: 70px 0;
  }
  .section-desc {
    width: 93%;
  }
  .service__img {
    height: auto;
  }

  /* work */
  .work__desc {
    width: 100%;
  }
  .work-item {
    padding: 20px;
  }

  /* about */
  .about {
    margin-top: 20px;
    padding: 40px 0;
  }

  .section-heading {
    font-size: 3rem;
  }

  /* team */
  .team__list {
    grid-template-columns: 1fr;
  }

  /* install */
  .install__inner {
    margin: 40px 0;
    padding: 0 8px;
  }
  .install__content {
    min-width: 250px;
  }
  .install__desc {
    font-size: 1.3rem;
  }

  /* blog */
  .blog__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .blog__heading {
    text-align: center;
  }

  .appointment__inner {
    padding: 30px 5px;
  }

  /* footer */
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .footer__copyright {
    margin-top: 20px;
  }
}
