/* Responsive cho PC */
@media (min-width: 992px) {
}

/* Tablet & mobile */
@media (max-width: 991.98px) {
  .navbar {
    /* 1.ẩn thanh navbar khi co nhỏ trình duyệt */
    display: none;
  }

  /* 2.chuyển logo vào giữa */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%; /*căn vào đúng giữa chứ không phải căn theo góc của logo*/
  }

  /*3. điều chỉnh thanh menu */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }

  /* 4. overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0; /* cách cả 4 cạnh 0 px (có thể để 1,2,3,4 đối số...) */
    z-index: 1; /* ở bên trên tất cả tránh tình trạng các phần tử khác ở trên */

    /* căn chỉnh để có thể bấm nút khi ẩn hiện */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  /* 5. Kiểm tra checkbox được check thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* mobile */
@media (max-width: 767.98px) {
}
