* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* ==============common=================== */
.container {
  width: 1170px;
  min-width: calc(100% -48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

/* khoi control btn */
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background: #fff;
  cursor: pointer;
  transition: 0.25s;
}

.control__btn:hover {
  color: #fff;
  background: #2e80ce;
  border-color: #2e80ce;
}

/* xoay nguoc lai mui ten */
.control-icon--next {
  rotate: 180deg;
}
/* ==============header=================== */
.header {
  min-height: 100vh;
  background-color: var(--header-bg);
  padding-top: 30px;
  height: 800px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.action__login,
.navbar__link {
  color: #c9d2da;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  padding: 8px 21px;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
  line-height: 1.75; /* 175% */
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  right: 8px;
  top: -2px;
}

/* .action__btn {
  color: #c9d2da;
  text-align: right;
  font-size: 1.6rem;
  line-height: 1.75; 
} */

.btn.action__signup {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
  text-shadow: 1px 0 0 currentColor;
  margin-left: 7px;
}

/* =============header bottom=========== */
.header-bottom {
  margin-top: 76px;
  display: flex;
  align-items: center;
}
.header-bottom .booking {
  width: 44%;
}

.header-bottom .hero__media {
  flex: 1;
}

.header-bottom .booking__heading {
  color: #fff;
  /* width: 517px; */
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}

.header-bottom .booking__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  width: 468px;
  margin-top: 22px;
  margin-bottom: 38px;
}

.header-bottom .booking-item {
  display: flex;
  align-items: center;
}
.header-bottom .booking__online {
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  padding: 15px 46px;
}
/* .btn.booking__online {
  width: 205px;
  height: 60px;
  border-radius: 30px;
  background: #2e80ce;
} */

.header-bottom .booking__call {
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin-left: 38px;
}

.hero__images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}
.hero__img-large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img-small {
  width: 210px;
  height: 410px;
}
/* ==============service=================== */
.service {
  padding: 170px 0;
  background: #fff;
}

.service__heading,
.service__desc {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin: 18px auto 0;
}

.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-item {
  padding: 21px;
  display: flex;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}

.service-item:hover {
  position: relative; /* cho ra khoi luong de khong bi che */
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

/* doi mau khi di vao */
.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}
/* hinh rang */
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  /* can giua  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /*khong bi meo */
  margin-right: 19px;
  /* chuyen dong cham hon */
  transition: 0.25s;
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.service__btn {
  margin-top: 55px;
}
/* ==============work=================== */
.work {
  padding: 100px 0;
  background: #f6fbff;
}

.work__desc {
  width: 468px;
}

.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.39; /* 138.462% */
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.work-item__more {
  margin-top: 18px;
  display: inline-block;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

/* ==============about=================== */
.about {
  padding: 85px 0 206px;
  background: #fff;
}

.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__media {
  width: 49%;
}
.about-content {
  width: 40%;
}

.about__img {
  position: relative;
}

.about__img--big {
  display: flex;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
  object-fit: cover;
}

.about__img--small {
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  position: absolute;
  top: 121px;
  left: 238px;
}

.about-content__btn {
  margin-top: 38px;
}

/* ==============team=================== */
.team {
  padding: 85px 0;
}

.team-header {
  text-align: center;
  margin: 0 auto;
}

.team__cta {
  margin-top: 38px;
}

.team__list {
  margin-top: 70px;
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.team-item__thumb {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  transition: 0.5s;
}

.team-item__img-bg {
  border-radius: 6px;
  background: #eaf6ff;
  padding-top: 28px;
  overflow: hidden;
}

/* khi di vao thi phong to len 1.1 lan */
.team-item:hover .team-item__thumb {
  transform: scale(1.1);
}

.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}

.team-control {
  margin-top: 38px;
  justify-content: center;
}
